
.navbar-background{
    height: 15vh;
    background: rgb(49,104,166);
background: linear-gradient(180deg, rgba(49,104,166,1) 0%, rgba(18,56,101,1) 30%, rgba(18,56,101,1) 70%, rgba(49,104,166,1) 100%);
    z-index: 100;
}
.nav-link{
    color: white;
}
.nav-link.active {
    font-weight: bold;
    color: #007bff; /* Or any color you prefer for the active state */
  }
  .nav-heading{
    color: #ffffff;
    font-family: "kallisto", sans-serif;
font-weight: 300;
font-style: normal;
  }
  #navbarSupportedContent.navbar-collapse.navbar-e.collapse.show{
    backdrop-filter: blur(23px);
    color: black;
  }