#carouselExampleDark {
    margin-top: 15vh; /* Adjust this value according to the height of your navbar */
  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  .c1-heading {
    animation: fadeInDown 2s;
    color: black;
    font-family: "kallisto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.carousel-caption p {
    animation: fadeInUp 2s;
    color: black;
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .h-screen{
    height: 75vh;
  }